<<<<<<< HEAD
@import "assets/scss/vars.scss";

.main_layout {
	min-height: 100vh;
	background-color: $BgGrayColor;
	display: flex;
	flex-direction: column;

	.outlet_content {
		flex-grow: 1;
	}
}
=======
@import "assets/scss/vars.scss";

.main_layout {
	min-height: 100vh;
	background-color: $BgGrayColor;
	display: flex;
	flex-direction: column;

	.outlet_content {
		flex-grow: 1;
	}
}
>>>>>>> bank key pages
