// DIRECTION
$ltr: "body[dir='ltr']";
$rtl: "body[dir='rtl']";

// COLORS
$mainColor: #ff5887;
$secondaryColor: #292731;

$darkBlueColor: #161966;
$mainDarkColor: #1b1d4d;
$bodyTextColor: #4c4c60;

$grayColor: #455360;
$lightGrayColor: #7b8389;

$whiteColor: #fff;
$blackColor: #000;

$SecondaryGrayColor: #ced6e1;
$SecondaryLightGrayColor: #f1f5fd;

$darkColor: #202326;

$pinkColor: #f9e9f0;
$footerTextColor: #666;

$BgGrayColor: #f8f9fc;

$bodyTextMutedColor: #808b9a;

$gray500Color: #a0aec0;

$darkGrayColor: #212b36;

$textDarkColor: #020e1f;

$greenColor: #3eb290;

$textColor: #252b42;

$lighDarkColor: #31373d;

$textLightDarkColor: #19313a;
