@import "assets/scss/vars.scss";

.dialog_box {
	@media (max-width: 1024.98px) {
		width: 70vw !important;
	}

	@media (max-width: 575.98px) {
		width: 90vw !important;
	}

	:global {
		.p-dialog-header {
			padding: 20px 24px;

			@media (max-width: 575.98px) {
				padding: 15px 10px;
			}

			.p-dialog-title {
				font-size: 18px;
				font-weight: 700;
				color: $mainColor;
			}

			.p-dialog-header-icons {
				.p-dialog-header-close {
					width: 24px;
					height: 24px;
					font-size: 12px;
					font-weight: 700;
					color: $mainColor;

					&-icon {
						font-size: 12px;
						font-weight: 700;
						color: $mainColor;
					}

					&:hover {
						background-color: rgba($mainColor, 0.15);
					}
				}
			}
		}

		.p-dialog-content {
			padding: 15px 24px;

			@media (max-width: 575.98px) {
				padding: 15px 10px;
			}
		}

		.p-dialog-footer {
			padding: 20px 24px;

			@media (max-width: 575.98px) {
				padding: 15px 10px;
			}
		}
	}
}
