@import "assets/scss/vars.scss";

body {
	margin: 0;
	font-family: "Mulish", sans-serif, "primeicons" !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
<<<<<<< HEAD
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
=======
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
>>>>>>> handle project structure and colors vars
}
